name: Hello World CI

on:
  push:
    branches:
      - main # Triggers the workflow on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest # Specifies the operating system for the job

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Action to check out your repository code

      - name: Say Hello
        run: echo "Hello World!" # Executes a shell command to print "Hello World!"
